{{model.completed}}

{{view Ember.Checkbox checkedBinding="model.showAll" class="toggle"}}<br>

{{#if model.tagFilter}}
<div>
    Filtering by:
    <a class="label" {{action "setTagFilter"}}>
        {{model.tagFilter}}
    </a>
</div>
{{/if}}

<button {{action insertNewTodo}}>+</button>

{{#each item in model.arrangedContent}}
<div>
    {{#if item.isEditing}}
        {{view App.TextField contentBinding="item"}}
    {{else}}
        {{view Ember.Checkbox checkedBinding="item.completed"}}
        <span {{bindAttr class="item.isCompleted"}} {{action "edit" item}}>{{item.title}}</span>
        {{#each tag in item.tags}}
            <a class="label" {{action "setTagFilter" tag}}>
                {{tag}}
            </a>
        {{/each}}
    {{/if}}
</div>
{{/each}}

<div class="pagination">
    <ul>
        {{#each item in model.pages}}
            <li><a {{action setPage item}}>{{item}}</a></li>
        {{/each}}
    </ul>
</div>
