{{view App.TextField}}<br>

{{model.completed}}

{{view Ember.Checkbox checkedBinding="model.showAll" class="toggle"}}<br>

{{#if model.tagFilter}}
<div>
    Filtering by:
    <a class="label" {{action "setTagFilter"}}>
        {{model.tagFilter}}
    </a>
</div>
{{/if}}

<button {{action insertNewTodo}}>+</button>

{{#each item in model.content}}
<div>
    {{#if item.isEditing}}
        {{view App.TextField valueBinding="item.title" contentBinding="item"}}
    {{else}}
        <span {{action "sup" item}}>{{item.title}}</span>
    {{/if}}
    {{#each tag in item.tags}}
        <a class="label" {{action "setTagFilter" tag}}>
            {{tag}}
        </a>
    {{/each}}
</div>
{{/each}}
