{{model.completed}}

{{view Ember.Checkbox checkedBinding="model.showAll" class="toggle"}}<br>

{{#if model.tagFilter}}
<div>
    Filtering by:
    <a class="label" {{action "setTagFilter"}}>
        {{model.tagFilter}}
    </a>
</div>
{{/if}}

{{#each model}}
    {{title}}
    {{#each tag in tags}}
        <a class="label" {{action "setTagFilter" tag}}>
            {{tag}}
        </a>
    {{/each}}
<br>
{{/each}}
