{{model.completed}}

{{view Ember.Checkbox checkedBinding="model.showAll" class="toggle"}}<br>

{{#if model.tagFilter}}
<div>
    Filtering by:
    <a class="label" {{action "setTagFilter"}}>
        {{model.tagFilter}}
    </a>
</div>
{{/if}}

<button {{action insertNewTodo}}>+</button>

{{#each item in model.content}}
<div>
    {{#if item.isEditing}}
        {{view App.TextField  contentBinding="item"}}
    {{else}}
        <span {{action "sup" item}}>{{item.title}}</span>
        {{#each tag in item.tags}}
            <a class="label" {{action "setTagFilter" tag}}>
                {{tag}}
            </a>
        {{/each}}
    {{/if}}
</div>
{{/each}}
