<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span5">
            <script type="text/javascript">
            $(function() {
                $('.icon-time').tooltip();
            }());
            </script>

            <div class="row-fluid">
                <button class="btn" {{action insertNewTodo}}><span class="icon-plus-sign"></span></button>

                {{#if model.tagFilter}}
                <div>
                    Filtering by:
                    <a class="label" {{action "setTagFilter"}}>
                        {{model.tagFilter}}
                    </a>
                </div>
                {{/if}}

                {{view App.SearchTextField classNames="search-query"}}
                Show all {{view Ember.Checkbox checkedBinding="model.showAll" class="toggle"}}

                <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="icon-ok"></span></th>
                    <th><span class="icon-list-alt"></span></th>
                    <th><span class=""></span></th>
                    <th><span class="icon-tags"></span></th>
                </tr>
                </thead>
                <tbody>
                {{#each item in model.arrangedContent}}
                <tr>
                    <td>{{view Ember.Checkbox checkedBinding="item.completed"}}</td>
                    {{#if item.isEditing}}
                        <td>{{view App.TextField contentBinding="item"}}</td>
                    {{else}}
                        <td><span {{bindAttr class="item.isCompleted"}} {{action "edit" item}}>{{item.title}}</span></td>
                    {{/if}}

                    <td>
                        {{#if item.isDue}}
                            <a class="icon-calendar" {{bindAttr title="item.due"}}></a>
                        {{/if}}
                    </td>

                    <td>
                        {{#each tag in item.tags}}
                            <a class="label" {{action "setTagFilter" tag}}>{{tag}}</a>
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
                </table>

                <div class="pagination">
                    <ul>
                        {{#each page in model.pages}}
                            <li {{bindAttr class="page.isActive:active"}}><a {{action setPage page}}>{{page.number}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
